@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*======================
Global Design===============*/

*{
    box-sizing: border-box;
}



body{
    /* background-color: #F8f8f8; */
    margin: 0;
    font-family: 'ubuntu', sans-serif ;
}

/*========================
Header Section==============*/

h1{
    font-family: 'lora' serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    margin: 0;
}

.subtitle{
    color: #1792d2;
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0;
    text-transform: uppercase;
}

/*========================
Layout==============*/

header{
    margin: 0;
    /* text-align: center; */
    background-color:#f8f8f8;
    padding: 2em 0;
}

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

@media (max-width:675px) {
    .container-nav{
        flex-direction: column;
    }
    header{
        text-align: center;
    }
}

/*******Navigation***********/

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
   justify-content: center;
   align-items: center;
}
 nav li{
  margin-left:  2em;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em;
}

nav a:hover,
nav a:focus{
    color: #1792d2;
}

.current-page{
    border-bottom: 1px solid #707070;
}

.current-page:hover{
    color: #707070;
}

@media (max-width:650px){
    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: 0.5em 0;
    }
}
